# Build
bin/
obj/

# User files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# VS Code
.vscode/

# Rider / JetBrains
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# Secrets
appsettings.Development.json
appsettings.Local.json

# Reportes generados
wwwroot/reportes/*
!wwwroot/reportes/.gitkeep