# BUILD
bin/
obj/


# USER / IDE FILES
*.user
*.userosscache
*.suo
*.userprefs

# Visual Studio
.vs/

# VS Code
.vscode/


.idea/


# LOGS
*.log


# ENTITY FRAMEWORK
Migrations/
*.db

# PUBLISH / OUTPUT
publish/
*.publish.xml

# APP SETTINGS (SENSIBLES)
appsettings.Development.json
appsettings.*.json

# ⚠️ IMPORTANTE:
# Mantén un archivo base seguro como:
!appsettings.json


# SECRETS / CONFIG LOCAL
secrets.json


# OS FILES
.DS_Store
Thumbs.db
Desktop.ini

# TEMP FILES
*.tmp
*.temp
*.bak
