# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist/
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ENV FILES
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# CACHE
.cache/
.vite/
.eslintcache

# VS Code
.vscode/

# Mac
.DS_Store

# BUILD / TEMP
build/
out/
coverage/

# TEMP FILES
*.tmp
*.temp
*.swp
*.bak